<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta charset="UTF-8">
        <title>Strona główna - MVER</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <section class="hero">
                
                <img src="/images/background.gif" alt="Mver Hero Gif" class="hero-bg">

                <div class="hero-content">
                    <a href="/index.html" class="download">Pobierz najnowszą wersję <i class="fa-solid fa-download"></i></a>
                    <a href="/index.html" class="use-in-browser">Użyj w przeglądarce <i class="fa-solid fa-globe"></i></a>
                </div>
            </section>
            <section class="half-section">
                <div class="half-image">
                    <img src="/images/logo.png" alt="Image">
                </div>
                <div class="half-text">
                    <h2>Co to jest Mver?</h2>
                    <p>Oprogramowanie Mver to darmowe narzędzie Open Source do przeglądania, edytowania oraz usuwania metadanych z różnych plików. Działa ono na większość współczesnych systemów operacyjnych. Działa ono w przeglądarce internetowej bez wysyłania plików do serwera oraz lokalnie w apliacji na komputerze.</p>
                </div>
            </section>
        </main>
    </body>
</html>