<header>
            <nav>
                <div class="nav-left">
                    <a href="/index.html">Mver</a>
                    <a href="/index.html">Pobierz</a>
                    <a href="/index.html">Użyj w przeglądarce</a>
                    <a href="/index.html">Nowości</a>
                    <a href="https://github.com/akirekt/Mver.git" target="_blank">OpenSource</a>
                </div>
                <div class="nav-right">

                    <div class="lang-dropdown">
                        <button class="lang-btn"><i class="fa-solid fa-globe"></i> <%= lang.toUpperCase() %> <i class="fa-solid fa-angle-up" class="arro"></i></button>
                        <div class="lang-menu">
                            <a href="/en/">Angielski (English)</a>
                            <p href="/pl/">Polski</p>
                            <a href="/de/">Niemiecki (Deutsch)</a>
                            <a href="/es/">Hiszpański (Español)</a>
                        </div>
                    </div>
                    <a href="buy-us-coffee">Buy us a coffee <i class="fa-solid fa-mug-saucer"></i></a>
                    <a href="/index.html">Autorzy</a>
                </div>
            </nav>
        </header>