<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta charset="UTF-8">
        <title>Main page - MVER</title>
    </head>
    <body>
        <%- include('partials/header') %>
        <main>
            <section class="hero">
                
                <img src="/images/background.gif" alt="Mver Hero Gif" class="hero-bg">

                <div class="hero-content">
                    <a href="/index.html" class="download">Download latest version <i class="fa-solid fa-download"></i></a>
                    <a href="/index.html" class="use-in-browser">Use in browser <i class="fa-solid fa-globe"></i></a>
                </div>
            </section>
            <section class="half-section">
                <div class="half-image">
                    <img src="/images/logo.png" alt="Image">
                </div>
                <div class="half-text">
                    <h2>What is Mver?</h2>
                    <p>Mver software is a free, open-source tool for viewing, editing, and removing metadata from various files. It runs on modern IT systems. It works online without uploading files to a server, and locally in a desktop application.</p>
                </div>
            </section>
        </main>
    </body>
</html>